body{
    font-family:$text;
    font-weight:normal;
    font-size:1.6em;
    background:$cream;
    color:$grey;
    text-align:center;
    background-image:url('../icons/intermediate/pattern.svg');
    background-size:300px;
    background-position:center;
}

a{
    color:$teal;
    text-decoration:none;
    transition:color .2s;
    &:hover{
        color:$red;
    }
}

em{
    font-style:italic;
}

// svg{
//     width:4em;
//     height:4em;
    // fill:none;
//     stroke:$grey;
//     stroke-width:.1em;
// }
// 

.textContent{
    text-align:left;
    font-size:1.2em;
}

.button{
    display:inline-block;
    padding:.5em 1em;
    line-height:1;
    font-weight:bold;
    letter-spacing:.1em;
    text-transform:uppercase;
    background:$teal;
    color:$white;
    transition:background .3s;
    border-radius:.2em;
    &:hover{
        background:darken($teal,20%);
        color:$white;
    }
}