.wrapWidth{
    width:90%;
    max-width:50em;
    margin:2em auto;
}

.wrapWidthSmall{
    width:30em;
    max-width:90%;
    margin:2em auto;
}

.half{
    width:49%;
    margin-right:2%;
    float:left;
    &.right{margin-right:0;}
}

.quarter{
    width:23.5%;
    float:left;
    margin-right:2%;
    &.right{
        margin-right:0;
    }
}

.third{
    width:32%;
    float:left;
    margin-right:2%;
    &.right{margin-right:0;}
    @include bp(d3){
        width:100%;
        margin-right:0;
        float:none;
    }
}

.twoThirds{
    width:66%;
    float:left;
    margin-right:2%;
    &.right{margin-right:0;}
}

.threeQuarters{
    width:74%;
    float:left;
    margin-right:2%;
    &.right{margin-right:0;}
}

.fifth{
    width: 18.4%;
    float: left;
    margin-right:2%;
    &.right{margin-right:0;}
}

.sixth{
    width: 15%;
    float: left;
    margin-right:2%;
    &.right{margin-right:0;}
}

.twenty{
    width:20%;
    float:left;
}

.thirty{
    width:30%;
    float:left;
}

